@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>C# ASP.Net Core Project develop by Yago Crispim.</p>
<p>Project developed in 2022 as the last project of the Udemy C# Course by Professor Nélio Alves.</p>


<address>
    <strong>More information: </strong> <a href="https://github.com/yagocrispim0/SalesWebMvc">Project's source code</a>
</address>